<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}| Serverman</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/fontawesome.min.css">
    <script src="/static/js/bootstrap.bundle.js"></script>
    <script src="/static/js/fontawesome.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                <li class="navbar-brand nav-item dropdown">
                    <button class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        {% block header %}{% endblock %}
                    </button>
                    <ul class="dropdown-menu">
                        {% if not openapplets %}
                        <li><a class="dropdown-item disabled" href="">No other open applets</a></li>
                        {% else %}
                        <li><a id="quit" class="dropdown-item" href="/quit/{{ title.lower() }}/">Quit</a></li>

                        {% for i in openapplets %}

                        {% if i.title() == title %}
                        {% else %}
                        <li><a class="dropdown-item" href="/applets/{{ i.lower() }}">{{ i.title() }}</a></li>
                        {% endif %}

                        {% endfor %}

                        <hr>
                        <li><a class="dropdown-item" href="/applets">Applets</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                <div class="dropstart">
                    <button class="btn btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-power-off"></i>
                        {% if rebootreasons %}
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            &nbsp;
                            <span class="visually-hidden">system reboot required</span>
                        </span>
                        {% endif %}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" title="Restarts Serverman normally">Restart Serverman</a>
                        </li>
                        <li><a class="dropdown-item" href="#"
                                title="Restarts Serverman with all downloaded software and applets disabled">Restart in
                                safe mode</a></li>
                        <hr>
                        <li><a class="dropdown-item" href="#" title="Reboots the host system">Reboot system {% if
                                rebootreasons %} (required) {% endif %} </a></li>
                        <li><a class="dropdown-item" href="#" title="Shuts down the host system">Shutdown system</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
    
    <script>
        if (window.location.pathname == "/applets/") {
            document.getElementById("quit").style.display = "none";
        }
    </script>
</body>

</html>