<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}| Serverman</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    {% block css %}
    {% endblock %}
    <script src="/static/js/bootstrap.bundle.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                <li class="navbar-brand nav-item dropdown">
                    <button class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        {% block header %}{% endblock %}
                    </button>
                    <ul class="dropdown-menu">
                        {% if not openapplets %}
                        <li><a class="dropdown-item disabled" href="">No other open applets</a></li>
                        {% else %}
                        <li><a id="quit" class="dropdown-item" href="/quit/{{ title.lower() }}/">Quit</a></li>

                        {% for i in openapplets %}

                        {% if i.title() == title %}
                        {% else %}
                        <li><a class="dropdown-item" href="/applets/{{ i.lower() }}/">{{ i.title() }}</a></li>
                        {% endif %}

                        {% endfor %}

                        <hr>
                        <li><a class="dropdown-item" href="/applets">Applets</a></li>
                        {% endif %}

                    </ul>
                </li>
                {% block menus %}{% endblock %}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script>
        if (window.location.pathname == "/applets/") {
            document.getElementById("quit").style.display = "none";
        }
    </script>
</body>

</html>