{% extends "base.html" %}

{% set title = applettorender.title()|replace("-", " ") %}

{% block title %} {{ title }} {% endblock %}

{% block header %} {{ title }} {% endblock %}


{% block content %}

<div class="modal fade" id="permissionmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{ title }} is requesting the following permissions
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    onclick="window.permissionsgranted = false"></button>
            </div>
            <div class="modal-body">
                <ul id="permissionlist"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    onclick="window.permissionsgranted = false">Decline</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    onclick="grantpermissions()">Grant</button>
            </div>
        </div>
    </div>
</div>


<iframe src="/renderapplet/{{ applettorender }}/index" class="renderer" id="{{ applettorender }}"
    style="position: fixed; width: 100%; border: none; margin: 0; padding: 0; overflow: hidden; height: 100%;"
    frameborder="0" wmode="transparent"></iframe>

<script>
    var appletperms = JSON.parse(JSON.stringify("{% autoescape false %}{{ appletperms }}{% endautoescape %}"))

    

    function uploadfile(formid) {
        var response
        $("#" + formid).submit(function () {
            e.preventDefault();
            var form = $(this);
            var actionUrl = form.attr('action');
            $.ajax({
                type: "POST",
                url: "/uploadfile/{{ applettorender }}",
                data: form.serialize(), // serializes the form's elements.
                success: function (responss) {
                    response = responss
                },
                dataType: "text"
            });
        })
    }

    function createfile(filename) {
        $.ajax({
            type: "POST",
            url: "/createfile/{{ applettorender }}",
            data: { "filename": filename },
            success: function (response) {
                window.response = response
            },
            dataType: "text"
        });
    }

    function removefile(filename) {
        $.ajax({
            type: "POST",
            url: "/removefile/{{ applettorender }}",
            data: { "filename": filename },
            success: function (response) {
                window.response = response
            },
            dataType: "text"
        });
    }
    function readfile(filename) {
        $.ajax({
            type: "POST",
            url: "/readfile/{{ applettorender }}",
            data: { "filename": filename },
            success: function (response) {
                window.response = response
            },
            dataType: "text"
        });
    }
    function writefile(filename, contents) {
        $.ajax({
            type: "POST",
            url: "/writefile/{{ applettorender }}",
            data: { "filename": filename, "contents": contents },
            success: function (response) {
                window.response = response
            },
            dataType: "text"
        });
    }
    function makedir(dirname) {
        $.ajax({
            type: "POST",
            url: "/makedir/{{ applettorender }}",
            data: { "dirname": dirname },
            success: function (response) {
                window.response = response
            },
            dataType: "text"
        });
    }
    function removedir(dirname) {
        $.ajax({
            type: "POST",
            url: "/createfile/{{ applettorender }}",
            data: { "dirname": dirname },
            success: function (response) {
                window.response = response
            },
            dataType: "text"
        });
    }
    function downloadfile(url, output) {
        $.ajax({
            type: "POST",
            url: "/downloadfile/{{ applettorender }}",
            data: { "url": url, "output": output },
            success: function (response) {
                window.response = response
            },
            dataType: "text"
        });
    }
    function runcommand(command) {
        $.ajax({
            type: "POST",
            url: "/runcommand/{{ applettorender }}",
            data: { "command": command },
            success: function (response) {
                window.response = response
            },
            dataType: "text"
        });
    }
    function requestpermissions(requestedperms) {
        window.requestedperms = requestedperms
        if (requestedperms.indexOf("command") >= 0 && appletperms.indexOf("command")) {
            $("#permissionlist").append('<li title="DANGEROUS PERMISSION: Allows software to run system commands">Run system commands</li>')
        }
        new bootstrap.Modal($("#permissionmodal")).show()
        
    }
    function grantpermissions() {
        window.permissionsgranted = true
        console.log(window.requestedperms)
        $.ajax({
            type: "POST",
            url: "/grantpermissions/{{ applettorender }}",
            data: { "permissions": window.requestedperms.join(" ") },
            dataType: "text"
        })
    }
</script>

{% endblock %}