{% extends "appletbase.html" %}

{% set info = dictify(contactdaemon("about")) %}

{% block content %}

<p><a href="./index" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">←
        Settings</a></p>
<h1>About</h1>
<br>
<p>
	Serverman version: {{ servermanversion }}<br>
	Daemon version: {{ info["servermand"] }}<br>
	Operating System: {{ info["os"] }}<br>
	Kernel: {{ info["kernel"] }}<br>
	Hardware: {{ info["hardware"] }}<br>
	Firmware: {{ info["firmware"] }}
</p>

{% endblock %}