{% extends "base.html" %}

{% set title = "Settings" %}

{% block title %} {{ title }} {% endblock %}

{% block header %} {{ title }} {% endblock %}

{% set daemon = contactdaemon("daemonpath") %}

{% block menus %}



{% endblock %}

{% block content %}
<p><a href="./daemon"
        class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">← Daemon</a></p>
<h1>Set daemon path</h1>
<p>
    Set the path to the Serverman daemon (servermand).<br>
    Currently, it doesn't come preinstalled with Serverman.<br>
    You can get it from <a target="_blank" href="http://github.com/User8395/servermand">here</a>.<br>
    When installed, set the path to the src folder inside the servermand folder (i.e. /path/to/servermand/src).<br>
</p>
<p>Current Path: {{ daemon or "Not set" }}</p>
<form action="{{ url_for('setdaemonpath')}}" method="post">
    <div class="mb-3">
        <label for="path" class="form-label">New path</label>
        <input type="text" class="form-control" name="path" id="path" style="font-family: 'Courier New', Courier, monospace;">
    </div>
    <button type="submit" class="btn btn-primary">Set</button>
</form>
{% endblock %}