{% extends "base.html" %}

{% set title = "Settings" %}

{% block title %} {{ title }} {% endblock %}

{% block header %} {{ title }} {% endblock %}

{% block menus %}


{% endblock %}

{% block content %}
<h1>Settings</h1>
<p><a href="./installedsoftware" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Installed software</a></p>
<p><a href="./internet" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Internet</a></p>
<p><a href="./daemon" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Daemon</a></p>
<p><a href="./about" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">About</a></p>
{% endblock %}