{% extends "base.html" %}

{% set title = "Settings" %}

{% block title %} Settings {% endblock %}

{% block header %} {{ title }} {% endblock %}

{% block menus %}


{% endblock %}

{% block content %}
<h1>Settings</h1>
<p><a href="settings/internet" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Internet</a></p>
<p><a href="settings/about" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"></a></p>
<p><a href="settings/daemon" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Daemon</a></p>
{% endblock %}