{% extends "base.html" %}

{% set title = "Settings" %}

{% block title %} {{ title }} {% endblock %}

{% block header %} {{ title }} {% endblock %}


{% block menus %}
{% endblock %}

{% block content %}

<p><a href="../" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">←
        Settings</a></p>
<h1>Installed software</h1>
<br>    
<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
    
    {% for software in installedsoftware %}
    
    {% set info = getsoftwareinfo(software) %}

    <a type="button" class="btn btn-light" href="./info?software={{ software }}">{{ info["name"] }}</a>
    
    {% endfor %}
<a type="button" class="btn btn-light" href="./info?software=settings">Settings</a>
</div>

{% endblock %}