{% extends "appletbase.html" %}

{% block content %}

<p><a href="./installedsoftware"
                class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">←
                Installed software</a></p>
<h1>Software info</h1>
<br>

{% if getvars["software"] == "settings" %}

<h2 style="display: inline;">Settings</h2>
<br>
<br>
<p>Serverman settings</p>
<p>System app</p>

{% else %}


{% set info = getsoftwareinfo(getvars["software"]) %}

<h2 style="display: inline;">{{ info.name }}</h2>&nbsp;&nbsp;
<p style="display: inline;">{% if info.version %} version {{ info.version }} {% endif %}</p>&nbsp;&nbsp;
<div class="btn-group" role="group" aria-label="Basic example">
	<a type="button" class="btn btn-light" href="/applets/{{ getvars['software'] }}" target="_parent">Open</a>
	{% if info.installedfrom != "system" %}
	<a type="button" data-bs-toggle="modal" data-bs-target="#uninstallconfirm" class="btn btn-light" target="_parent">Uninstall</a>
	{% endif %}
</div>

<br>
<br>

<p>{{ info.description }}</p>

{% if info.installedfrom == "system" %}

<p>System app</p>

{% else %}

<p>Installed from: {{ info.installedfrom }}</p>

{% endif %}

{% endif %}


<div class="modal fade" id="uninstallconfirm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Uninstall software?</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
		  {{ info.name }} and all of its data will be removed
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
		  <button type="button" id="confirmuninstall" class="btn btn-primary">Yes</button>
		</div>
	  </div>
	</div>
  </div>

  <script>
	$("#confirmuninstall").click(function() {
		location.replace("/uninstallsoftware/{{ info.name.lower()|replace(' ', '-') }}")
	})
  </script>

{% endblock %}