{% extends "base.html" %}

{% set title = "Settings" %}

{% block title %} Internet {% endblock %}

{% block header %} {{ title }} {% endblock %}

{% block menus %}



{% endblock %}

{% block content %}
<p><a href="/applets/settings" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">← Settings</a></p>
<h1>Internet</h1>
<p><a href="/applets/settings/internet/status" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Status</a></p>
<p><a href="/applets/settings/internet/changeaddress" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Change IP addresses</a></p>
{% endblock %}