{% extends "base.html" %}

{% set title = "Settings" %}

{% block title %} Change address {% endblock %}

{% block header %} {{ title }} {% endblock %}

{% block menus %}



{% endblock %}

{% block content %}
<p><a href="/applets/settings/internet"
        class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">← Internet</a></p>
<h1>Change address</h1>
<br>
{% for i, ip in ips %}
<p class="d-inline-flex gap-1">
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#c{{ i }}"
        aria-expanded="false" aria-controls="collapseExample">
        {{ ip }}
    </button>
</p>
<div class="collapse" id="c{{ i }}">
    <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
        activates the relevant trigger.
    </div>
</div>
<br>
{% endfor %}
</div>
{% endblock %}