{% extends "base.html" %}

{% set title = "Settings" %}

{% block title %} Status {% endblock %}

{% block header %} {{ title }} {% endblock %}

{% block menus %}

{% if not openapplets %}
<li><a class="dropdown-item disabled" href="">No other open apps</a></li>
{% else %}

<li><a class="dropdown-item" href="/quit/{{ title.lower() }}">Quit</a></li>

{% for i in openapplets %}

{% if i.title() == title %}
{% else %}
<li><a class="dropdown-item" href="/applets/{{ i.lower() }}">{{ i.title() }}</a></li>
{% endif %}

{% endfor %}

<hr>
<li><a class="dropdown-item" href="/applets">Applets</a></li>
{% endif %}

{% endblock %}

{% block content %}
<p>
    <a href="/applets/settings/internet"
        class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">← Internet</a>
</p>
<h1>Status</h1>
<code> {% autoescape false %} {{ ip }} {% endautoescape %} </code>
<br />
<p>Source: <code>ip a</code></p>
{% endblock %}